<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32019">
		<setting id="buccaneersdan.pyfoehn.debug" type="bool" label="32000" default="true" />
		<setting id="buccaneersdan.pyfoehn.pwmgpio" type="number" label="32001" default="25" />
	</category>

	<category label="32020">
		<setting id="buccaneersdan.pyfoehn.freq" type="number" label="32002" default="80" />
		<setting id="buccaneersdan.pyfoehn.interval" type="number" label="32003" default="5" />
		<setting id="buccaneersdan.pyfoehn.fanstartlevel" type="number" label="32004" default="1" />
		<setting id="buccaneersdan.pyfoehn.fancooldown" type="text" label="32005" default="18sec" />
	</category>

	<category label="32021">
		<setting id="buccaneersdan.pyfoehn.variable_speed" type="bool" label="32007" />
		<setting id="buccaneersdan.pyfoehn.constant_speed" type="text" label="32006" default="100" visible="eq(-1,false)" />
		<setting id="buccaneersdan.pyfoehn.variable_fan_speed_1" type="number" label="32008" default="30" visible="eq(-2,true)" />
		<setting id="buccaneersdan.pyfoehn.variable_fan_speed_2" type="number" label="32009" default="40" visible="eq(-3,true)" />
		<setting id="buccaneersdan.pyfoehn.variable_fan_speed_3" type="number" label="32010" default="60" visible="eq(-4,true)" />
		<setting id="buccaneersdan.pyfoehn.variable_fan_speed_4" type="number" label="32011" default="75" visible="eq(-5,true)" />
		<setting id="buccaneersdan.pyfoehn.variable_fan_speed_5" type="number" label="32012" default="100" visible="eq(-6,true)" />
		<setting id="buccaneersdan.pyfoehn.rangevalues" type="text" label="32018" visible="false" default="[[2, 27], [0, 500], [5, 30], [1, 4], [20, 100]]" />
	</category>

	<category label="32022">
		<setting id="buccaneersdan.pyfoehn.temperature_threshold_1" type="number" label="32013" default="57" />
		<setting id="buccaneersdan.pyfoehn.temperature_threshold_2" type="number" label="32014" default="60" />
		<setting id="buccaneersdan.pyfoehn.temperature_threshold_3" type="number" label="32015" default="65" />
		<setting id="buccaneersdan.pyfoehn.temperature_threshold_4" type="number" label="32016" default="69" />
		<setting id="buccaneersdan.pyfoehn.temperature_threshold_5" type="number" label="32017" default="71" />
	</category>

</settings>